@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
}

@font-face {
  font-family: "Aptos";
  src: url("/src/assets/fonts/Aptos.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Aptos SemiBold";
  src: url("/src/assets/fonts/Aptos-SemiBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Aptos Bold";
  src: url("/src/assets/fonts/Aptos-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

#root {
  @apply min-h-screen font-aptos bg-neutral-100 dark:bg-black dark:text-white;
}

input {
  @apply outline-none;
}

h3 {
  @apply font-aptosSemiBold text-lg;
}

.btn_1 {
  @apply bg-black/5 aspect-square w-10 h-10 rounded-full text-3xl leading-none transition-all hover:bg-black/10 active:scale-90 dark:bg-neutral-800 dark:text-white;
}

.btn_2 {
  @apply w-full bg-black/5 aspect-square px-4 h-10 rounded-lg leading-none transition-all hover:bg-black/10 dark:bg-black dark:text-white;
}

.input {
  @apply w-full py-1 bg-neutral-100 dark:bg-black dark:text-white rounded-lg text-center dark:placeholder:text-neutral-200;
}
