@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
}

@font-face {
  font-family: "Aptos";
  src: url("/src/assets/fonts/Aptos.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Aptos SemiBold";
  src: url("/src/assets/fonts/Aptos-SemiBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Aptos Bold";
  src: url("/src/assets/fonts/Aptos-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

#root {
  @apply bg-neutral-100 min-h-dvh font-aptos;
}
input {
  @apply outline-none;
}

h3 {
  @apply font-aptosSemiBold text-lg;
}

.btn_1 {
  @apply bg-black/5 aspect-square w-10 h-10 rounded-full text-3xl leading-none transition-colors hover:bg-black/10;
}

.btn_2 {
  @apply w-full bg-black/5 aspect-square px-4 h-10 rounded-lg leading-none transition-colors hover:bg-black/10;
}
